<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>uohack</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
        </ul>
        <h3 class="text-muted">uohack</h3>
      </div>

      <div class="jumbotron">
        <h1>Learn to code</h1>
        <p class="lead">Learn HTML/CSS. Free, weekly, and with hands-on support if you need a little help.</p>
        <p><a class="btn btn-lg btn-success" href="https://www.facebook.com/groups/576874269016205/">Apply now</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Mentors</h4>
          <p>Not clicking? Programmers with more experience are there to help.</p>

          <h4>Your own pace</h4>
          <p>We'll use web-based tools instead of teaching the whole group at once.</p>
        </div>

        <div class="col-lg-6">
          <h4>A place to ask questions</h4>
          <p>We'll set up a private Facebook group to ask questions in between meetings.</p>

          <h4>Fun!</h4>
          <p>Code is cool!</p>
        </div>
      </div>

      <div class="footer">
        <p><a href="https://twitter.com/ivarvong">@ivarvong</a></p>
      </div>

    </div> <!-- /container -->

</body>
</html>
